services:
  yt-dlp:
    image: jauderho/yt-dlp:latest
    container_name: yt-dlp-music
    volumes:
      - /mylibrary/media/music:/music
    entrypoint: sleep infinity
    restart: unless-stopped

  api:
    image: node:20-alpine
    container_name: yt-audio-api
    working_dir: /app
    volumes:
      - ./backend:/app
      - /mylibrary/media/music:/music
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - ./backend/.env
    command: sh -lc "apk add --no-cache docker-cli && npm i && npm run start"
    ports:
      - "8787:8787"
    depends_on:
      - yt-dlp
    restart: unless-stopped